<%- include('../partials/header') %>

<div class="input-group input-group-lg" id="newlist">
    <form action="/lists" method="POST" class="form-control" align="center">
        <label>Name:
            <input type="text" name="name">
        </label><br><br>
        <label>Date:
            <input type="date" name="dateCreated">
        </label><br><br>
        <button type="submit" class="btn btn-success">Create New List</button>
    </form>
</div>

<%- include('../partials/footer') %>