<%- include('../partials/header') %>

<section id="show-list">
    <div>Name: </div>
    <div><%= lists.name %></div>
</section><br>

<section>
    <h4>Food</h4>
    <% if (foods.length) { %>
        <% foods.forEach(function(f) { %>
            <h4>Name:<span><%= f.name %></span></h4>
        <% }); %>
    <% } else { %>
        <h4>No Food Items Yet</h4>
    <% } %>    
</section>

<%- include('../partials/footer') %>