body {
  /* padding: 50px; */
  height: 60em;
  /* font-family: 'Shrikhand', cursive, Helvetica, Arial, sans-serif; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: medium;
  /* background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80); */
  background-image: url(https://images.unsplash.com/photo-1615224571870-e863823760fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: repeat;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vmin;
  margin-left: 80vmin;
}

.login img {
  height: 30px;
}

h1 {
  text-align: center;
  padding: 15vmin;
}